<!--This div should be made toggleable to show accessibility stuff only-->

<div class="row">
  <div class="col-xs-6">
    <div class="accessibility-selector" *ngIf="visible">
      <select name="accessibility" (change)="setHtmlClass($event)">
        <option  *ngFor="let selection of selectionList" value="selection.value" [class.highlight]="selection.highlight">{{ selection.name }}</option>
      </select>
    </div>
  </div>
  <div class="col-xs-6">
    <button class="toggle-button" (click)="toggleVisibility()">toggle font-size example</button>
  </div>
</div>

<div *ngIf="visible">
  <article>
    <p>This is a scale test</p>
  </article>
  <div class="row">
    <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4
blue">
      <div class="box">Responsive</div>
    </div>
    <div class="col-xs-12
                col-sm-4
                col-md-6
                col-lg-4
red">
      <div class="box">Responsive</div>
    </div>
    <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4
blue">
      <div class="box">Responsive</div>
    </div>
    <div class="col-xs-12
                col-sm-4
                col-md-6
                col-lg-12
red">
      <div class="box">Responsive</div>
    </div>
  </div>


  <div class="test-box">
    100*100px
  </div>

  <div class="root">
    this is the root of this block and is design with a fontsize of 16px in mind
    <div class="nested">this is nested in a block and is design with a fontsize of 16px in mind</div>
  </div>

  <app-button [classes]="currentClasses"></app-button>

</div>



